{% extends "layout.html"%}
{% block content %}

        {% for post in posts.items %}
            
            <div class="card mt-4">
                <div class="card-body">
                    <img class="account-img" src= "{{ url_for('static', filename= 'profile_pic/' + post.author.image_file ) }}" >
                    <div class="card-title " style="font-weight:500; font-size:20px"><a href="{{ url_for('post', post_id= post.id) }}">{{ post.title }}</a></div>
                    <div class="card-subtitle text-dark" >By {{ post.author.username }} on {{ post.date_posted.strftime('%Y-%m-%d') }}</div>
                    <div class="card-text mt-4"><pre>{{ post.content }}</pre></div>
                </div>
            </div>
            

        {% endfor %}

        {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if page_num %}
                {% if page_num == posts.page %}
                    <a class="btn btn-info mb-10" style="margin-top: 20px;" href="{{ url_for('home', page = page_num) }}">{{ page_num }}</a>
                {% else %}
                    <a class="btn btn-outline-info mb-10" style="margin-top: 20px;" href="{{ url_for('home', page = page_num) }}">{{ page_num }}</a>
                {% endif %}
            {% else %}
                ...

            {% endif %}

        {% endfor %}
{% endblock content %}   
  