{% extends "layout.html"%}
{% block content %}h

        {% for post in posts %}

            <div class="card mt-4">
                <div class="card-body">
                    <div class="card-title " style="font-weight:500; font-size:20px">{{ post.title }}</div>
                    <div class="card-subtitle text-dark" >By {{ post.author }} on {{ post.date_posted }}</div>
                    <div class="card-text mt-4">{{ post.content }}</div>
                </div>

            </div>
            

        {% endfor %}
{% endblock content %}   
  